<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sistema de Biblioteca{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                📚 Biblioteca
            </div>

            <div class="menu">
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('livros') }}">Livros</a>
                <a href="{{ url_for('cadastrar') }}">Cadastrar</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>